<!DOCTYPE html>
<html>

<%- include('partials/meta', {url: url}) %>

  <body>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5666487244102554" data-ad-slot="4663324884"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
  </body>

</html>