<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/meta') %>
    <script src="js/jquery.js"></script>
</head>

<body>
    <center>
        <div class="loader"></div>
        <div class="counters"></div>
    </center>
</body>
<script src="js/top50.js"></script>
<script src="js/odometer.js"></script>

</html>