* {
  box-sizing: border-box;
}

body {
  background: rgb(143, 142, 142);
  margin: 0;
  transition: background 1.5s;
  text-align: center;
}

.row {
  display: inline-block;
}

.card {
  height: 8.5vh;
  width: 18.5vw;
  margin: 0.25vw;
  text-align: left;
  background: #f4f4f8;
  margin-left: 1px;
  transition: background 2s;
}

.image {
  width: 4vw;
  height: 4vw;
  float: left;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
}

.rank {
  font-size: calc(0.5rem + 1vw);
  font-family: 'Arial';
  float: right;
  padding-right: 0.5rem;
  font-weight: bold;
}

.name {
  font-family: 'Arial';
  white-space: nowrap;
  overflow: hidden;
  font-size: 3vmin;
  padding-top: 0.25rem;
  font-weight: bold;
}

.count {
  transition: color 2s;
  font-size: calc(0.5rem + 1.5vw);
  font-family: "Arial";
}

.counters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -75px 0 0 -75px;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #69db34;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.card:hover {
  cursor: pointer;
  background-color: #bed3f1;
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}


@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .card {
    height: 14vh;
  }

  .rank {
    margin-top: -0.5rem;
    font-size: 2.5vmin;
    margin-right: -0.3rem;
  }
}